{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set title = 'Platform Settings' %}

{% block content %}

<form action="" method="post">
    {{ csrfInput() }}

    {{ forms.hidden({
        name: 'action',
        value: 'craft-commerce-multi-vendor/platform-settings/save'
    }) }}

    {{ forms.selectField({
        label: 'Select Commission Type',
        instructions: 'Choose whether the commission is charged at a percentage or a fixed amount.',
        id: 'commissionType',
        name: 'settings[commissionType]',
        errors: errors['commissionType'] ?? null,
        options: {'percentage': 'Percentage', 'amount': 'Amount'},
        value: settings['commissionType'] ?? ''})
    }}

    {{ forms.textField({
        label: 'Commission Rate',
        instructions: 'Enter the rate at which the platform charges its commission at.',
        id: 'commission',
        unit: '',
        errors: errors['commission'] ?? null,
        name: 'settings[commission]',
        value: settings['commission'] ?? '0.00'})
    }}

    <input type="submit" class="submit btn" value="{{ 'Save'|t }}">
</form>

{% endblock %}