{# @var vendor \craft\commerce\elements\Vendor #}

{% extends "basecommerce/_layouts/cp" %}

{% set selectedSubnavItem = "vendors" %}
{% set bodyClass = (bodyClass is defined ? bodyClass~' ' : '') ~ "vendors vendorsedit" %}

{% set crumbs = [
    { label: "Vendors"|t('commerce'), url: url('commerce/vendors') },
    { label: vendorType.name|t('commerce'), url: url('commerce/vendors/'~vendorType.handle) }
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% import "_includes/forms" as forms %}
{% import "basecommerce/products/_fields" as vendorFields %}


{% block header %}
    {{ block('pageTitle') }}
    {{ block('contextMenu') }}
    <div class="flex-grow"></div>
    {% if showPreviewBtn or shareUrl is defined %}
        {% if showPreviewBtn %}
            <div class="btn livepreviewbtn">{{ "Live Preview"|t('app') }}</div>
        {% endif %}
        {% if shareUrl is defined %}
            <a href="{{ shareUrl }}" class="btn sharebtn"
               target="_blank">{{ 'Share'|t('app') }}</a>
        {% endif %}
        <div class="flex-grow"></div>
    {% endif %}
    {{ block('actionButton') }}
{% endblock %}


{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        <div class="btn menubtn sitemenubtn"
             data-icon="world">{{ vendor.site.name|t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}
                    <li>
                        {% if siteId == vendor.siteId %}
                            <a class="sel" data-site-id="{{ siteId }}">
                                <div class="status {{ status }}"></div>{{ site.name|t('site') }}
                            </a>
                        {% else %}
                            {% set url = url("commerce/vendors/#{vendorTypeHandle}/#{craft.app.request.getSegment(4)}/#{site.handle}") %}
                            <a href="{{ url }}" data-site-id="{{ siteId }}">
                                <div class="status {{ status }}"></div>{{ site.name|t('site') }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}


{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit"
               value="{{ 'Save'|t('commerce') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit"
                       data-redirect="{{ continueEditingUrl|hash }}">
                        {{ "Save and continue editing"|t('commerce') }}
                        {{ forms.optionShortcutLabel('S') }}
                    </a>
                </li>
                {% if vendor.id %}
                    <li>
                        <a class="formsubmit" data-param="vendorId"
                           data-value=""
                           data-redirect="{{ continueEditingUrl|hash }}">
                            {{ "Save as a new vendor"|t('commerce') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
            {% if vendor.id %}
                <hr>
                <ul>
                    <li>
                        <a class="formsubmit error"
                           data-action="commerce/vendors/delete-vendor"
                           data-confirm="{{ 'Are you sure you want to delete this vendor?'|t('commerce') }}"
                           data-redirect="{{ 'commerce/vendors'|hash }}">
                            {{ 'Delete'|t('commerce') }}
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}


{% block content %}
    <input type="hidden" name="action" value="craft-commerce-multi-vendor/vendors/save-vendor">
    <input type="hidden" name="typeId" value="{{ vendorType.id }}">
    {% if vendor.id %}<input type="hidden" name="vendorId"
                              value="{{ vendor.id }}">{% endif %}
    {% if craft.app.getIsMultiSite() %}
        <input type="hidden" name="siteId" value="{{ vendor.siteId }}">
    {% endif %}
    {{ redirectInput('commerce/vendors') }}
    {{ csrfInput() }}


    <div id="fields">

        {{ forms.textField({
            label: "Title"|t('commerce'),
            site: vendor.site,
            id: 'title',
            name: 'title',
            value: vendor.title,
            placeholder: 'Enter title'|t('commerce'),
            errors: vendor.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255
        }) }}

        <div>
            {% set tabs = vendorType.getVendorFieldLayout().getTabs() %}
            {% for tab in tabs %}
                <div id="tab{{ loop.index }}" {% if not loop.first %} class="hidden" {% endif %}>
                    {% include "_includes/fields" with {
                        fields: tab.getFields(),
                        element: vendor,
                    } only %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


{% block details %}
<div class="meta">
    {{ vendorFields.generalMetaFields(vendor) }}

    {{ forms.lightswitchField({
        label: "Enabled"|t('commerce'),
        id: 'enabled',
        name: 'enabled',
        on: vendor.enabled
    }) }}

    {% if craft.app.getIsMultiSite() %}
        {{ forms.lightswitchField({
            label: "Enabled for site"|t('commerce'),
            id: 'enabledForSite',
            name: 'enabledForSite',
            on: vendor.enabledForSite
        }) }}
    {% endif %}
</div>

<hr>

<div class="meta">
    {# {{ vendorFields.behavioralMetaFields(vendor) }} #}
</div>

{% if vendor.id %}
    <hr>
    <div class="meta read-only">
        <div class="data">
            <h5 class="heading">{{ "Date Created"|t('commerce') }}</h5>
            <div class="value">{{ vendor.dateCreated|date('short') }} {{ vendor.dateCreated|time('short') }}</div>
        </div>
        <div class="data">
            <h5 class="heading">{{ "Date Updated"|t('commerce') }}</h5>
            <div class="value">{{ vendor.dateUpdated|date('short') }} {{ vendor.dateUpdated|time('short') }}</div>
        </div>

        {% endif %}

        {% hook "cp.commerce.vendor.edit.details" %}
    </div>
{% endblock %}

{% if not vendor.slug %}
    {% js %}
        window.slugGenerator = new Craft.SlugGenerator('#title', '#slug');
    {% endjs %}
{% endif %}
